:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;

    --heading-font: "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 10px;
}

header img {
    width: 80px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav {
    margin: 16px;
    padding: 8px;
    background-color: var(--secondary-color);

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
    width: 100%;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: white;
    opacity: 0.8;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 50px;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero article img {

    width: 120px;
    height: auto;
}

.socialmedia {
    display: flex;
    justify-content: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    margin: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
}